# blackbox
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
notes.tex

# lectures
lectures/full/full_content.tex
lectures/2_processus/code/pid
lectures/2_processus/code/fork
lectures/2_processus/code/signals
lectures/2_processus/code/sigaction
lectures/2_processus/code/thread
lectures/2_processus/code/maxthread
lectures/2_processus/code/unlthread

# pdf
lectures/1_intro/intro.pdf
lectures/1_intro/intro_notes.pdf
lectures/2_processus/processus.pdf
lectures/2_processus/processus_notes.pdf
lectures/full/full.pdf

# exercises
exercises/ais/include
exercises/ais/bin
exercises/ais/lib

# tex
*.aux
*.vrb
*.log
*.nav
*.out
*.snm
*.toc

# build
*.o
