# blackbox
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
notes.tex

# lectures
lectures/full/full_content.tex
lectures/2_processus/code/pid
lectures/2_processus/code/fork
lectures/2_processus/code/signals
lectures/2_processus/code/sigaction
lectures/2_processus/code/thread
lectures/2_processus/code/maxthread
lectures/2_processus/code/unlthread
lectures/3_ipc_net/code/fd
lectures/3_ipc_net/code/pipe
lectures/3_ipc_net/code/named_pipe
lectures/3_ipc_net/code/mq_client
lectures/3_ipc_net/code/mq_server
lectures/3_ipc_net/code/shm_drinker
lectures/3_ipc_net/code/shm_server
lectures/3_ipc_net/code/socket_client
lectures/3_ipc_net/code/socket_server
lectures/3_ipc_net/code/socket_udp_client
lectures/3_ipc_net/code/socket_udp_server
lectures/3_ipc_net/code/mult
*handout.pdf
*handout.tex

# pdf
lectures/1_intro/intro.pdf
lectures/1_intro/intro_notes.pdf
lectures/2_processus/processus.pdf
lectures/2_processus/processus_notes.pdf
lectures/3_ipc_net/ipc_net.pdf
lectures/3_ipc_net/ipc_net_notes.pdf
lectures/full/full.pdf
lectures/full/full_content.pdf
lectures/4_kernel_mod/kernel_mod.pdf
README.pdf

# exercises
labs/gps/include
labs/gps/bin
labs/gps/lib
core
labs/1_sysprog_part1/corr/fork_pipe/gps_reader
labs/1_sysprog_part1/src/gps_reader/gps_reader
labs/2_sysprog_part2/src/shm_writer/shm_writer
labs/2_sysprog_part2/src/shm_reader/shm_reader

# tex
*.aux
*.vrb
*.log
*.fls
*.nav
*.out
*.snm
*.toc

# build
*.o
/lectures/3_ipc_net/notes.tex
/labs/1_tools/corr/ld_preload/hack.c
/labs/1_tools/corr/ld_preload/run.sh
/labs/1_tools/corr/ld_preload/Makefile
/labs/1_sysprog_part1/corr/fork_pipe/reader.c
/labs/1_sysprog_part1/corr/fork_pipe/Makefile
